.promotion-section {
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    gap: 5%;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    background-color: #efefef;
}

.promotion-section .promotion-text {
    padding-left: 10%;
    flex: 1;
}

.promotion-text h2 {
    /* font-family: 'Inter', sans-serif; */
    color: #ED560E;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.promotion-text p {
    font-size: 20px;
    line-height: 30px;
    color: #535353;
    font-weight: 400;
}
.promotion-section .promotion-image {
    flex: 1;
    max-width: 40%;
    margin-right: 5%;
    height: auto;
    border-radius: 36px;
}


.promotion-more-button{

    padding: 8px 12px 8px 12px;
    background-color: #3129AC;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #3129AC;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 14px;
    margin: 35px 0px 20px 20px;
    cursor: pointer;
}


@media (min-width: 200px) and (max-width: 700px) {

    .promotion-section{
        flex-direction: column;
        gap: 20px;
        padding: 40px 00px;
    }
    

    .promotion-section .promotion-image {
        min-width: 95%;
        margin-left: 2%;
        height: auto;
        border-radius: 0px;
        margin-bottom: 20px;
    }
}