.mapContainer{
    position: relative;
    width:100%;
    height:100%;
}


.markerContainer{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.markerNumber{
    position: absolute;
    color:white;
}